-- Maak database aan
CREATE DATABASE [$(dbnaam)]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'$(dbnaam)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\$(dbnaam).mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'$(dbnaam)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\$(dbnaam)_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [$(dbnaam)]
GO
USE [$(dbnaam)]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [$(dbnaam)] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

-- Maak user aan
USE [master]
GO
CREATE LOGIN [$(login)] WITH PASSWORD=N'$(wachtwoord)', DEFAULT_DATABASE=[$(dbnaam)], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
USE [$(dbnaam)]
GO
CREATE USER [$(login)] FOR LOGIN [$(login)]
GO
USE [$(dbnaam)]
GO
ALTER ROLE [db_datareader] ADD MEMBER [$(login)]
GO
USE [$(dbnaam)]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [$(login)]
GO
USE [$(dbnaam)]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [$(login)]
GO
